.contenedorPlato{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurantes-7f37d.appspot.com/o/imagenFondo%2Ffondo-restaurante3.jpg?alt=media');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width:100vw;
    height: 96vh;
    overflow: hidden;
    .row{
        justify-content: center;
        align-items: center;
    }
    .container{
        background-color:rgba(255,255,255,0.8);
        border-radius: 4px;
    }
    .imagenPlato{
        img{
            width: 15vw;
            padding: 2vw 0;
        }
    }
    .contenedorNombre{
        display: flex;
        flex-direction: row;
        align-items: center;
        span{
            margin-left:1vw;
            font-size:1vw;
        }
    }
    .col-7{
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .ingredientes{
        margin:0 1vh;
    }
    
}
